Deprecated
fire
keras
mtcnn
opencv-python
retina-face

tensorflow
pandas 
numpy
gdown
dvc
pyproject
pyarrow
mlflow
notebook
matplotlib
seaborn
python-box
pyYAML
tqdm
ensure
joblib
types-PyYAML
scipy
Flask
Flask-Cors
-e .